body {
background-image: url(background2.png);
font-family: verdana;
}

p {
color: rgb(255,255,255);
}

h1 {
color: rgb(255,255,255);
}

dt {
color: rgb(255,255,255);
}

a {
color: rgb(255,255,255);
}

footer {
font-size: 0.8em;
}

figcaption {
  color: rgb(255,255,255)
}
