body {
 text-align:center;
 background-image: url(background.png);
 font-family: verdana;
 font-size: 1em

}

p {
  color: rgb(255,255,255);
}

h1 {
  color: rgb(255,255,255);
}

a {
  color: rgb(255,255,255);
}
table{
width: 100%;
}

footer {
  font-size: 0.8em;

}
hr {
  border-width: 1px;
  border-color: rgb(255,255,255);
}
